<?xml version="1.0"?>
<packages>
    <package id="Chromium" />
    <package id="0install" />
    <package id="chocolateyPackageUpdater" />
    <package id="desktops" />
    <package id="dropbox" />
    <package id="git" />
    <package id="imagemagick" />
    <package id="R.Studio" />
    <package id="Revo.Uninstaller" />
    <package id="Sudo" />
    <package id="texstudio" />
    <package id="veracrypt" />
    <package id="tortoiseGit" />
    <package id="f.lux"/>
    <package id="vlc"/>
	<package id="octave"/>
	<package id="pencil"/>
	<package id="notepadplusplus"/>
</packages>
