<?xml version="1.0"?>
<packages>
    <package id="GoogleChrome" />
    <package id="0install" />
    <package id="chocolateyPackageUpdater" />
    <package id="desktops" />
    <package id="dropbox" />
    <package id="git" />
    <package id="imagemagick" />
    <package id="R.Studio" />
    <package id="Revo.Uninstaller" />
    <package id="Sudo" />
    <package id="texstudio" />
    <package id="veracrypt" />
    <package id="tortoiseGit" />
</packages>
